{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2020": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "standard-with-typescript",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": "off"
  }
}
